@import "tailwindcss";

:root {
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;

  --background: var(--nord0);
  --foreground: var(--nord6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-nord-0: var(--nord0);
  --color-nord-1: var(--nord1);
  --color-nord-2: var(--nord2);
  --color-nord-3: var(--nord3);
  --color-nord-4: var(--nord4);
  --color-nord-5: var(--nord5);
  --color-nord-6: var(--nord6);
  --color-nord-7: var(--nord7);
  --color-nord-8: var(--nord8);
  --color-nord-9: var(--nord9);
  --color-nord-10: var(--nord10);
  --color-nord-11: var(--nord11);
  --color-nord-12: var(--nord12);
  --color-nord-13: var(--nord13);
  --color-nord-14: var(--nord14);
  --color-nord-15: var(--nord15);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-marquee-horizontal: marquee-horizontal 12s linear infinite;
  @keyframes marquee-horizontal {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.025em;
}

.brutal-border {
  border: 4px solid var(--nord6);
}

.brutal-shadow {
  box-shadow: 8px 8px 0 var(--nord3);
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1), box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.brutal-shadow:hover {
  transform: translate(2px, 2px);
  box-shadow: 6px 6px 0 var(--nord3);
}

.brutal-shadow:active {
  transform: translate(8px, 8px);
  box-shadow: 0 0 0 var(--nord3);
}

* {
  box-sizing: border-box;
}
